<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->

<div class="content" role="main">
 <table class="table">
  <thead>
  <tr>
    <th>phone</th>
    <th>country</th>
    <th>countryCode</th>
    <th>validityStatus</th>
   </tr>
   </thead>
   <tbody>
     <tr *ngFor="let item of phonesData">
      <td>{{item.phone}}</td>
       <td>{{item.country}}</td>
       <td>{{item.countryCode}}</td>
       <td>{{item.validityStatus}}</td>
    </tr>
    </tbody>
  </table>
</div>






<router-outlet></router-outlet>
